.container{
    border:0.5px solid black;
    height:400px;
    width:350px;
    margin-left: 420px;
    background-color: aquamarine;
    border-radius:30px;
}
#display{
    margin-top: 20px;
    margin-left:45px;
    height:10%;
    width:270px;
    border-radius:20px;
    box-shadow: 3px 2px;
    font-size: 20px;
}
 .cont{
    display: flex;
    height:20px;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 10px;
    
}
 .btn{
       height:75px;
       width:50px;
       margin-left: 10px;
       box-shadow: -3px -2px;
       border-color: azure;
       border-radius: 47px;
       background-color: #d87093;
       font-size:30px;
       
    
}
